<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lena.microblog.mapper.DiscussMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.lena.microblog.domain.entity.Discuss">
        <id column="discussId" property="discussId" />
        <result column="userId" property="userId" />
        <result column="passageId" property="passageId" />
        <result column="time" property="time" />
        <result column="context" property="context" />
        <result column="liked" property="liked" />
        <result column="parentId" property="parentId" />
        <result column="childrenId" property="childrenId" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
